@page "/"
@attribute [Authorize]

<div class="main p-4">
    <AuthorizeView>
        <Authorized>
            <Chat />
        </Authorized>
    </AuthorizeView>
</div>

@code {
    [CascadingParameter]
    private Task<AuthenticationState> authenticationStateTask { get; set; }

    protected override async Task OnInitializedAsync()
    {
        var authState = await authenticationStateTask;
        var user = authState.User;
        await base.OnInitializedAsync();
    }

    private bool isLoggedIn;
    private string username;

    private void OnLogin(string username)
    {
        this.username = username;
        isLoggedIn = true;
    }
}