@page "/"

@if (isLoggedIn)
{
    <div class="main p-4">
        <p>Logged in as <strong>@username</strong></p>
        <Chat Username="@username" />
    </div>
}
else
{
    <div class="p-4">
        <Login OnLogin="OnLogin" />
    </div>
}

@code {
    private bool isLoggedIn;
    private string username;

    private void OnLogin(string username)
    {
        this.username = username;
        isLoggedIn = true;
    }
}