<form class="login-form container bg-light py-4" @onsubmit="Submit">
    <h3>Log In</h3>

    <div class="mb-3">
        <label for="username" class="form-label">Username</label>
        <input class="form-control" id="username" @bind="username" @bind:event="oninput" />
    </div>

    <button type="submit" disabled="@isDisabled" class="btn btn-primary w-100">Log In</button>
</form>

@code {
    private string username;
    [Parameter] public EventCallback<string> OnLogin { get; set; }
    async Task Submit()
    {
        await OnLogin.InvokeAsync(username);
    }

    private bool isDisabled => string.IsNullOrEmpty(username);
}
