@inherits LayoutComponentBase
@using Tabletop.Client.Pages

<Tabletop.Client.Pages.TopNavigation />

<div class="main p-3">
    @Body
</div>

<AuthorizeView>
    <Authorized>
        <Chat />
    </Authorized>
</AuthorizeView>